chatbot_env/

venv/
env/
.venv/
ENV/
env*/
venv*/

__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
build/
dist/
*.dist-info/

chatbot_env/lib/python3.10/site-packages/

.streamlit/
secrets.toml
.vscode/
.idea/
*.code-workspace
.ipynb_checkpoints/
