chatbot_env/
venv/
env/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
*.dist-info/

torch/
libtorch_cpu.dylib
libtorch.dylib
*.dylib
*.so

best_transformer_chatbot (1).pt
*.pt
*.csv  # If your emotion-emotion_69k.csv is large

.streamlit/
.vscode/
.DS_Store