chatbot_env/
venv/
env/
.venv/
ENV/
env*/
venv*/
*.env  

__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
build/
dist/

.vscode/
*.code-workspace

.streamlit/
streamlit_config.toml
secrets.toml